<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ang.acb.baking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".RecipeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ui.recipelist.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.recipedetails.DetailsActivity"
            android:parentActivityName=".ui.recipelist.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.recipelist.MainActivity"/>

        </activity>

        <!-- Declaring an AppWidgetProvider in the Manifest.
        https://developer.android.com/guide/topics/appwidgets#Manifest -->
        <receiver android:name=".ui.widget.RecipeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_info" />
        </receiver>

        <!-- To create app widgets with collections you must declare the service
        in your manifest file with the permission BIND_REMOTEVIEWS. This prevents
        other applications from freely accessing your app widget's data.
        https://developer.android.com/guide/topics/appwidgets#manifest-for-app-widgets-with-collections -->
        <service
            android:name=".ui.widget.RecipeRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Preloaded fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>